---
import Footer from "@/components/Footer";
import GlassHeader from "@/components/GlassHeader";
import Layout from "@/layouts/Layout.astro";
import ProjectDemos from "@/components/projects/Projects";
---

<Layout
	className="min-h-screen font-sans antialiased selection:bg-blue-500/20 selection:text-blue-500"
	title="Project Demos"
	description="Showcase of previous projects"
>
	<div
		class="fixed inset-0 -z-10 h-full w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(59,130,246,0.14),rgba(255,255,255,0))]"
	>
	</div>
	<GlassHeader client:only="react" />
	<main class="min-h-screen">
		<ProjectDemos client:only="react" />
	</main>
	<Footer client:only="react" />
</Layout>
